* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* COLORS */
:root {
  --yellow: #fbffa7;
  --orange: #ff764d;
  --lightblue: #b1c5ff;
  --purple: #d5b3ff;
  --green: #b6ffc0;
  --darkblue: #0000ff;
  --white: #ffffff;
}

body {
  background-color: var(--white);
  /* background-image: url("reference.jpeg");
    background-repeat: no-repeat;
    background-position: top; */
}

/* FONT */

/* Myriad Pro Regular 
font-family: myriad-pro, sans-serif;
font-weight: 400;
font-style: normal;
 */

/* Myriad Pro Bold 
font-family: myriad-pro, sans-serif;
font-weight: 700;
font-style: normal;
*/

/* Myriad Pro Italic
font-family: myriad-pro, sans-serif;
font-weight: 400;
font-style: italic; */

/* Futura Regular
font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: normal;
*/

/* Futura Bold 
font-family: futura-pt-bold, sans-serif;
font-weight: 700;
font-style: normal;
*/

/* Futura Light 
font-family: futura-pt, sans-serif;
font-weight: 300;
font-style: normal;
*/

/* HEADER */
header {
  /* background-color: lightgrey; */
  display: flex;
  flex-direction: column;
  margin: 0 3vw;
  height: 10vh;
  /* position: relative; */
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  border-bottom: 1px solid lightgrey;
}

.nav-main img {
  width: 6%;
  margin-left: 1.5vw;
}

.nav-main ul li:nth-child(9),
.nav-main ul li:nth-child(10) {
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3rem;
}

.highlight-one {
  color: var(--darkblue);
}
.highlight-two {
  color: var(--orange);
}

.nav-smaller-font {
  font-size: 1rem;
}

/* SECTION ONE */
.section-one {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw;

  position: relative;
  text-align: center;
  color: var(--orange);
}
.section-one img {
  width: 80%;
}

.section-one-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 10rem;
}

/* SECTION TWO */
.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw;
}

.section-two-text {
  width: 50%;
}

.section-two-text h3 {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: black;
  margin-bottom: 1.5rem;
}

.section-two-text p {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
  color: black;
}

.section-two a:link {
  color: var(--darkblue);
  text-decoration: none;
}
.section-two a:visited {
  color: var(--darkblue);
  text-decoration: none;
}

/* SECTION THREE */
.section-three {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 5vw;
  /* justify-content: center;
  grid-template-columns: 1fr 1fr 1fr; */
  position: relative;
}

.section-three-images {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.item1 {
  width: 50%;
  margin-right: 5vw;
}

.item2 {
  width: 30%;
}

.section-three-colorbox {
  background-color: var(--yellow);
  width: 50vw;
  height: 100vh;
}
